<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="file-log" fileName="${sys:log_directory}/server.${date:yyyy-MM-dd}.log"
                     filePattern="${sys:log_directory}/server.%d{yyyy-MM-dd}.log"
                     immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ubongo" level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file-log"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file-log"/>
        </Root>
    </Loggers>

</Configuration>
