<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="moduleName">ubongo-service</Property>
        <Property name="baseDir">${sys:log_directory:-../logs/ubongo}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="file-log" fileName="${baseDir}/${moduleName}.log"
                     filePattern="${baseDir}/${moduleName}.%d{yyyy-MM-dd}.%i.log"
                     immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy fileIndex="max">
                <Delete basePath="${baseDir}">
                    <IfFileName glob="${moduleName}*.log">
                        <IfLastModified age="30d">
                            <IfAny>
                                <IfAccumulatedFileSize exceeds="500 MB" />
                            </IfAny>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ubongo" level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file-log"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file-log"/>
        </Root>
    </Loggers>

</Configuration>
