<div class="jumbotron jumbotron-additions" ng-controller="ManagementActionsController">
    <h1>Actions</h1>
    <p></p>
    <div class="form-group">
        <ng-form name="genBashForm">
            <label class="control-label" for="unitSelectForBash">Generate Unit Bash Script File</label>*
            <table width="100%">
                <tr>
                    <td><select class="form-control" id="unitSelectForBash"
                                ng-model="selectedUnitForBash" ng-options="unit.name for unit in units">
                        <option disabled selected ng-bind="disabledOptionText.value"></option>
                    </select></td>
                    <td width="10%" align="right" style="padding-left:5px">
                        <button id="genBashButton" type="button" class="btn btn-default"
                                ng-disabled="genBashForm.$invalid || genBashForm.$pristine"
                                ng-click="generateBash()">Generate</button></td>
                </tr>
                <tr>
                    <td>
                        <p></p>
                        (*) <strong>NOTICE</strong>: Before clicking 'Generate', please make sure the selected unit's .xml and .m files are
                        located in the units folder at the server.
                        <p></p>
                    </td>
                </tr>
                <tr ng-if="err.display">
                    <td colspan="2" ng-bind="err.msg" ng-style="err.style" align="center"></td>
                </tr>
            </table>
        </ng-form>
    </div>
</div>