<div class="jumbotron jumbotron-additions">
    <h1>Machines</h1>
    <p></p>
    <div id="machinesGrid" ui-grid="machineGridOptions" class="gridStyle unitGridStyle"
         ui-grid-selection ui-grid-move-columns ui-grid-resize-columns></div>
    <p></p>
    <div> <!-- TODO add ng if directive and show only when selected -->
        <table width="100%">
            <tr>
                <td width="30%"><label class="control-label">Last heartbeat received:&nbsp;</label></td>
                <td><div ng-bind=""></div></td>
            </tr><tr>
            <td colspan="2" align="center" ng-style="err.style" ng-if="err.display" ng-bind="err.msg"></td>
        </tr>
        </table>
    </div>
</div>